body {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 background-image: url(https://img.freepik.com/free-photo/gray-abstract-wireframe-technology-background_53876-101941.jpg?w=2000);
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
}

.container {   
 max-width: 1920px;
 min-width: 480px;
 padding-bottom: 210px; 
}  
    
.teslalogo {
 width:280px;
 height: 115px;
 margin-top: -30px;
}

h1, p { 
 margin: 0 auto;
 text-align: center;
 position: relative;
 top: 50px;
 left: 40px;
}

p {
 margin-top: -25px;
 font-family: Courier;
}

form {
 margin: 0 auto;
 min-width: 480px;
 width: 550px;
 position: relative;
 top: 140px;
 left: 55px;
}

.carimage {
 width: 280px;
 height: 170px;
 position: absolute;
 left: 260px;
 top: 208px;
}

.headline {
 font-family: helvetica;
 font-size: 15px;
}

input {
 width:100%;
 border: none;
 border-bottom: 1px solid #cfcfcf ;
 background: linear-gradient(white,rgb(235, 235, 235));
}

input[type="radio"] {
 width: unset; 
 accent-color: rgb(41,0,0);
 width: 20px;
}

input[type="checkbox"] {
 width: unset;
 accent-color: rgb(41, 0, 0);
 width: 20px;
}

.payment_logo {
 width: 120px;
 height: 26px;
 position: relative;
 top: 6px;
 left: 300px;
}

select {
 background-color: rgba(0, 0, 0, 0.875);
 color: white;   
}

fieldset {
 border: none;
 border-bottom: 1.5px solid rgba(0, 0, 0, 0.7);
 width: 90%;
}
   
#lastfs {
 border: none;
}

button {
 position:relative;
 top: -65px;
 left:330px;
 background-color: white;
 padding: 15px 42px;
 font-size: 16px;
 border: 2px solid black;
 font-style: italic;
 transition: 0s background-color color;
 border-radius: 30px;
 margin-top: -10px;
}

button:hover {
 background-color: rgba(0,0,0,90%);
 transition-delay: 0.1s;
 color: white;
}


